{#login/templates/login/login.html#}
{% extends 'ctr_base.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block css %}
    <link href="{% static "ZilanCMS/css/login.css" %}" rel="stylesheet">
        <script src="{% static "ZilanCMS/js/login.js" %}"></script>
{% endblock %}


{% block content %}

    <div class="container">
        <div id="now-user" class="col-md-12">
            <h2 class="text-center">当前用户 </h2>
            <h5 class="text-center text-danger">{{ message }}</h5>
            <ul class="list-inline">
            <li class="li-a-1 list-inline-item">ID号</li>
            <li class="li-a-1 list-inline-item">姓名</li>
            <li class="li-a-1 list-inline-item">电话</li>
            <li class="li-a-1 list-inline-item">邮件地址</li>
            <li class="li-a-1 list-inline-item">加入时间</li>
            <li class="li-a-1 list-inline-item"></li>
            </ul>
            <ul class="list-inline">
            <li class="li-a-1 list-inline-item">{{ user.id }}</li>
            <li class="li-a-1 list-inline-item">{{ user.username }}</li>
            <li class="li-a-1 list-inline-item">{{ user.phone }}</li>
            <li class="li-a-1 list-inline-item">{{ user.email }}</li>
            <li class="li-a-1 list-inline-item">{{ user.date_joined }}</li>
            <li class="li-a-1 list-inline-item"></li>
            </ul>
        </div>
        <div id="now-user" class="col-md-12 col-md-offset-4">
            <h2 class="text-center">{{ title }}</h2>
            <dl class="dl-horizontal row justify-content-between">
                <a href="/ctr/adduser/"><span class="btn btn-info col-auto">添加 </span></a>
{#                <span class="col-md-2"><a href="">11</a></span>#}
                {% if types %}
                <select onchange="location.href = '{{ type_action }}'+this.options[this.selectedIndex].value" class="col-md-2 col-auto" name="type" required="" id="type" >
                    <option value="" >全部</option>
                    {% for type in types %}
                        {% if type.id == pk %}{{ type.id }}vs{{ pk }}<option value="{{ type.id }}" selected>{{ type.typename }}</option>
                        {% else %}<option value="{{ type.id }}">{{ type.typename }}</option>{% endif %}
                    {% endfor %}
                </select>
                {% endif %}
            </dl>

            <ul class="list-inline">
            <li class="li-a-1 list-inline-item col-md-1">用户名</li>
            <li class="li-a-1 list-inline-item col-md-1">电话</li>
{#            <li class="li-a-1 list-inline-item">电话</li>#}
{#            <li class="li-a-1 list-inline-item">邮件地址</li>#}
{#            <li class="li-a-1 list-inline-item">加入时间</li>#}
{#            <li class="li-a-1 list-inline-item"></li>#}
            </ul>
            {% for data in datas %}
            <ul class="list-inline ">
            <li class="li-a-1 list-inline-item col-md-1">{{ data.username }}</li>
            <li class="li-a-1 list-inline-item col-md-1">{{ data.phone }}</li>
            <li class="li-a-1 list-inline-item col-md-7"></li>
            <li class="li-a-1 list-inline-item col-md-1"><a href="/ctr/edituser/{{ data.id }}"><span id="edit" value="{{ data.id }}" class="btn btn-secondary" >编辑</span></a></li>
            <li class="li-a-1 list-inline-item col-md-1"><button id="delete" value="{{ data.id }}" action="{{ action }}" class="btn btn-danger btn-delete">DELETE</button></li>

            </ul>
{#              <dt class="col-md-3">{{ data.username }}</dt>#}
{#              <dd class="col-md-3 row-cols-3"><img  src="{{ data.phone }}"/></dd>#}
{#                <dd><span id="edit" value="{{ data.id }}" class="btn btn-danger" ><a href="/ctr/edituser/{{ data.id }}">编辑</a></span></dd>#}
{#                <dd><button id="delete" value="{{ data.id }}" action="{{ action }}" class="btn btn-danger btn-delete">DELETE</button></dd>#}
{#            <ul class="list-inline">#}
{#            <li class="li-a-1 list-inline-item">{{ work.filename }}</li>#}
{#                <img class="col-md-12 col-" src="{{ work.thumbnail.upload_to }}"/>#}
{#            </ul>#}
            {% endfor %}

        </div>
    <a class="button" href="/ctr/logout/"  >登出</a>
    </div> <!-- /container -->
{% endblock %}